@using MVC_Core.Models.Domain;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
   // SignInManager.IsSignedIn(User);
   // UserManager.GetUserName(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <a class="uk-navbar-item uk-link-muted tm-navbar-button"
       asp-area="Identity" asp-page="/Account/Login"
       uk-icon="user"></a>
    <div class="uk-padding-small uk-margin-remove"
         uk-dropdown="pos: bottom-right; offset: -10; delay-hide: 200;"
         style="min-width: 150px">
        <ul class="uk-nav uk-dropdown-nav">
            <li>
                <a href="#">Đơn hàng  <span class="uk-badge">2</span></a>
            </li>
            <li>
                <a href="#">Yêu thích <span class="uk-badge">2</span></a>
            </li>
            <li>
                <a href="personal.html">Thông tin</a>
            </li>
            <li>
                <a href="#">Thông báo <span class="uk-badge">2</span></a>
            </li>
            <li class="uk-nav-divider"></li>
            <li><a href="login.html">Đăng xuất</a></li>
        </ul>
    </div>
}else
{
    <a class="uk-navbar-item uk-link-muted tm-navbar-button"
       asp-area="Identity" asp-page="/Account/Login"
       uk-icon="user"></a>
}

