@{
    Layout = "_Layout";
}
@using SecondHand.Models.Domain;
@using Microsoft.AspNetCore.Identity;
@using SecondHand.DataAccess.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<section class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-grid-medium" uk-grid>
            <div class="uk-width-1-1 uk-width-1-4@m tm-aside-column">
                <div class="uk-card uk-card-default uk-card-small tm-ignore-container"
                     uk-sticky="offset: 90; bottom: true; media: ;">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-child-width-1-1"
                             uk-grid>
                            <div class="uk-text-center">
                                <div class="uk-h4 uk-margin-remove">
                                    ADMIN
                                </div>
                                <div class="uk-text-meta">
                                    Đã tham gia 8/6/2023
                                </div>
                            </div>
                            <div class="uk-margin-top">
                                <div class="uk-grid-small uk-flex-center"
                                     uk-grid>
                                    <div>
                                        <a class="uk-button uk-button-default uk-button-small"
                                           href="settings.html">
                                            <span class="uk-margin-xsmall-right"
                                                  uk-icon="icon: cog; ratio: .75;"></span><span>Cài đặt</span>
                                        </a>
                                    </div>
                                    <div>
                                        <button class="uk-button uk-button-default uk-button-small"
                                                href="#"
                                                title="Đăng xuất">
                                            <span uk-icon="icon: sign-out; ratio: .75;"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <nav>
                            <ul class="uk-nav uk-nav-default tm-nav">
                                <li>
                                    <a href="account.html">
                                        Đơn hàng
                                        <span>(2)</span>
                                    </a>
                                </li>
                                <li class="uk-active">
                                    <a asp-controller="Favorites">
                                        Yêu thích
                                        <span>(3)</span>
                                    </a>

                                </li>
                                <li>
                                    <a asp-controller="Personal">
                                        Thông tin cá nhân
                                    </a>

                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-expand@m">
                <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                    <header class="uk-card-header">
                        <h1 class="uk-h2">Danh sách yêu thích</h1>
                    </header>
                    <div class="uk-grid-collapse tm-products-list"
                         uk-grid>
                        <article class="tm-product-card">
                            <div class="tm-product-card-media">
                                <div class="tm-ratio tm-ratio-4-3">
                                    <a class="tm-media-box"
                                       href="product.html">
                                        <div class="tm-product-card-labels">
                                            <span class="uk-label uk-label-warning">
                                                top
                                                selling
                                            </span><span class="uk-label uk-label-danger">trade-in</span>
                                        </div>
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                                 alt='Apple MacBook Pro 15" Touch Bar MPTU2LL/A 256GB (Silver)' />
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <div class="tm-product-card-body">
                                <div class="tm-product-card-info">
                                    <div class="uk-text-meta uk-margin-xsmall-bottom">
                                        Áo
                                    </div>
                                    <h3 class="tm-product-card-title">
                                        <a class="uk-link-heading"
                                           href="product.html">Nike T-Shirt</a>
                                    </h3>
                                    <ul class="uk-list uk-text-small tm-product-card-properties">
                                        <li>
                                            <span class="uk-text-muted">Material: </span><span>Cotton</span>
                                        </li>
                                        <li>
                                            <span class="uk-text-muted">Color: </span><span>White</span>
                                        </li>
                                        <li>
                                            <span class="uk-text-muted">Condition: </span><span>Signs Of Wear</span>
                                        </li>
                                        <li>
                                            <span class="uk-text-muted">SKU: </span><span>238.0T900.J04</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-product-card-shop">
                                    <div class="tm-product-card-prices">
                                        <del class="uk-text-meta">$1899.00</del>
                                        <div class="tm-product-card-price">
                                            $1599.00
                                        </div>
                                    </div>
                                    <div class="tm-product-card-add">
                                        <div class="uk-text-meta tm-product-card-actions">
                                            <a class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                               title="Add to favorites">
                                                <span uk-icon="icon: heart; ratio: .75;"></span><span class="tm-product-card-action-text">Thêm vào yêu thích</span>
                                            </a>
                                        </div>
                                        <button class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart">
                                            <span class="tm-product-card-add-button-icon"
                                                  uk-icon="cart"></span><span class="tm-product-card-add-button-text">Thêm vào giỏ hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="tm-product-card">
                            <div class="tm-product-card-media">
                                <div class="tm-ratio tm-ratio-4-3">
                                    <a class="tm-media-box"
                                       href="product.html">
                                        <div class="tm-product-card-labels">
                                            <span class="uk-label uk-label-warning">
                                                top
                                                selling
                                            </span><span class="uk-label uk-label-danger">trade-in</span>
                                        </div>
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                                 alt='Apple MacBook Pro 15" Touch Bar MPTU2LL/A 256GB (Silver)' />
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <div class="tm-product-card-body">
                                <div class="tm-product-card-info">
                                    <div class="uk-text-meta uk-margin-xsmall-bottom">
                                        Áo
                                    </div>
                                    <h3 class="tm-product-card-title">
                                        <a class="uk-link-heading"
                                           href="product.html">Nike T-Shirt</a>
                                    </h3>
                                    <ul class="uk-list uk-text-small tm-product-card-properties">
                                        <li>
                                            <span class="uk-text-muted">Material: </span><span>Cotton</span>
                                        </li>
                                        <li>
                                            <span class="uk-text-muted">Color: </span><span>White</span>
                                        </li>
                                        <li>
                                            <span class="uk-text-muted">Condition: </span><span>Signs Of Wear</span>
                                        </li>
                                        <li>
                                            <span class="uk-text-muted">SKU: </span><span>238.0T900.J04</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-product-card-shop">
                                    <div class="tm-product-card-prices">
                                        <del class="uk-text-meta">$1899.00</del>
                                        <div class="tm-product-card-price">
                                            $1599.00
                                        </div>
                                    </div>
                                    <div class="tm-product-card-add">
                                        <div class="uk-text-meta tm-product-card-actions">
                                            <a class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                               title="Add to favorites">
                                                <span uk-icon="icon: heart; ratio: .75;"></span><span class="tm-product-card-action-text">Thêm vào yêu thích</span>
                                            </a>
                                        </div>
                                        <button class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart">
                                            <span class="tm-product-card-add-button-icon"
                                                  uk-icon="cart"></span><span class="tm-product-card-add-button-text">Thêm vào giỏ hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="tm-product-card">
                            <div class="tm-product-card-media">
                                <div class="tm-ratio tm-ratio-4-3">
                                    <a class="tm-media-box"
                                       href="product.html">
                                        <div class="tm-product-card-labels">
                                            <span class="uk-label uk-label-warning">
                                                top
                                                selling
                                            </span><span class="uk-label uk-label-danger">trade-in</span>
                                        </div>
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                                 alt='Apple MacBook Pro 15" Touch Bar MPTU2LL/A 256GB (Silver)' />
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <div class="tm-product-card-body">
                                <div class="tm-product-card-info">
                                    <div class="uk-text-meta uk-margin-xsmall-bottom">
                                        Áo
                                    </div>
                                    <h3 class="tm-product-card-title">
                                        <a class="uk-link-heading"
                                           href="product.html">Nike T-Shirt</a>
                                    </h3>
                                    <ul class="uk-list uk-text-small tm-product-card-properties">
                                        <li>
                                            <span class="uk-text-muted">Material: </span><span>Cotton</span>
                                        </li>
                                        <li>
                                            <span class="uk-text-muted">Color: </span><span>White</span>
                                        </li>
                                        <li>
                                            <span class="uk-text-muted">Condition: </span><span>Signs Of Wear</span>
                                        </li>
                                        <li>
                                            <span class="uk-text-muted">SKU: </span><span>238.0T900.J04</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tm-product-card-shop">
                                    <div class="tm-product-card-prices">
                                        <del class="uk-text-meta">$1899.00</del>
                                        <div class="tm-product-card-price">
                                            $1599.00
                                        </div>
                                    </div>
                                    <div class="tm-product-card-add">
                                        <div class="uk-text-meta tm-product-card-actions">
                                            <a class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                               title="Add to favorites">
                                                <span uk-icon="icon: heart; ratio: .75;"></span><span class="tm-product-card-action-text">Thêm vào yêu thích</span>
                                            </a>
                                        </div>
                                        <button class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart">
                                            <span class="tm-product-card-add-button-icon"
                                                  uk-icon="cart"></span><span class="tm-product-card-add-button-text">Thêm vào giỏ hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
