@{
    Layout = "_Layout";
}
@using SecondHand.Models.Domain;
@using Microsoft.AspNetCore.Identity;
@using SecondHand.DataAccess.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    // SignInManager.IsSignedIn(User);
    // UserManager.GetUserName(User);
    var getOrderCount = HttpContextAccessor.HttpContext.Session.GetInt32("CountOrders");
}
<section class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-grid-medium" uk-grid>
            <div class="uk-width-1-1 uk-width-1-4@m tm-aside-column">
                <div class="uk-card uk-card-default uk-card-small tm-ignore-container"
                     uk-sticky="offset: 90; bottom: true; media: ;">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-child-width-1-1"
                             uk-grid>
                            <div class="uk-text-center">
                                <div class="uk-h4 uk-margin-remove">
                                    @((await UserManager.GetUserAsync(User))?.LastName)
                                    @((await UserManager.GetUserAsync(User))?.FirstName)
                                </div>
                                <div class="uk-text-meta">
                                    Đã tham gia @((await UserManager.GetUserAsync(User))?.Created?.ToString("dd-MM-yyyy"))
                                </div>
                            </div>
                            <div class="uk-margin-top">
                                <div class="uk-grid-small uk-flex-center"
                                     uk-grid>
                                    <div>
                                        <a class="uk-button uk-button-default uk-button-small"
                                           href="settings.html">
                                            <span class="uk-margin-xsmall-right"
                                                  uk-icon="icon: cog; ratio: .75;"></span><span>Cài đặt</span>
                                        </a>
                                    </div>
                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Account/Login", new { area = "Identity" })" method="post">
                                        <div>
                                            <button class="uk-button uk-button-default uk-button-small"
                                                    type="submit"
                                                    title="Đăng xuất">
                                                <span uk-icon="icon: sign-out; ratio: .75;"></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <nav>
                            <ul class="uk-nav uk-nav-default tm-nav">
                                <li>
                                    <a asp-controller="History">
                                        Lịch sử đơn hàng
                                        <span>(@getOrderCount)</span>
                                    </a>
                                </li>
                                <li class="uk-active">
                                    <a asp-controller="Favorites">
                                        Yêu thích
                                        <span>(3)</span>
                                    </a>

                                </li>
                                <li>
                                    <a asp-controller="Personal">
                                        Thông tin cá nhân
                                    </a>

                                </li>
                                 <li>
                                        <a asp-controller="Personal" asp-action="ChangePassword">Đổi mật khẩu</a>
                                 </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-expand@m">
                <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                    <header class="uk-card-header">
                        <h1 class="uk-h2">Danh sách yêu thích</h1>
                    </header>
               
                </div>
            </div>
        </div>
    </div>
</section>
