@using SecondHand.Models.Domain;
@{
    ViewData["Title"] = "Error";
    Layout = "_AdminLayout";
}

<link href="~/css/error.css" rel="stylesheet" />
<div class="main-error-page">


    <h1 class="error-title">
        Woops! <br>Bạn không có quyền truy cập trang này
    </h1>
    <h2 class="error-subtitle">
        Hãy thử lại sau
    </h2>


</div>

