@{
    ViewData["Title"] = "Announce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chúng tôi đã nhận yêu cầu của bạn. Chúng tôi sẽ phản hồi sớm nhất có thể! Xin Cảm Ơn!</h1>

<div class="custom-link">
    <a asp-controller="Home" asp-action="Index">Trở về trang chủ</a>
</div>

