@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container contact-form text-center">
    <div class="contact-image">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
    </div>
    <br /><br /><br /><br />
    <h3>Hãy gửi cho chúng tôi những góp ý</h3><br />
    <div class="custom-link">
        <a asp-controller="Contact" asp-action="Create">Tạo Góp Ý</a>
    </div>

</div>

