@{
    Layout = "_AdminLayout";

}
<!DOCTYPE html>
<html>
<head>
   
    <style>
        img{
            width: 100px;
            height: 100px;
        }
    </style><!-- Bootstrap CSS link -->
    
</head>
<body>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Brands</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Blank Page</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->


            <div>
                <div>
                    <!-- Class main content -->



                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Brands</th>
                                <th scope="col">Logo</th>
                                <th scope="col">Status</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Chức năng</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>LAUREN</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="LAUREN">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/3bbb8bf75b/ralph-lauren-3.png/m/640x0"
                                                 alt="LAUREN" />
                                        </figure>
                                    </a>
                                </td>
                                <td>active</td>
                                <td>100</td>
                                <td>
                                    <a href="#"><i class="fa-solid fa-pen"></i>  Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i>  Delete</a>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>NIKE</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="Nike">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/2702c66a7e/nike-1.png/m/640x0"
                                                 alt="Samsung" />
                                        </figure>
                                    </a>
                                </td>
                                <td>Thornton</td>
                                <td>100</td>

                                <td>
                                    <a href="#"><i class="fa-solid fa-pen"></i>  Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i>  Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>ZARA</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="Zara">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/f0fe88bf4f/zara-2.png/m/640x0"
                                                 alt="Zara" />
                                        </figure>
                                    </a>
                                </td>
                                <td>Thornton</td>
                                <td>100</td>

                                <td>
                                    <a href="#"><i class="fa-solid fa-pen"></i> Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>ADIDAS</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="Adidas">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/fd851dd099/adidas.png/m/640x0"
                                                 alt="Adidas" />
                                        </figure>
                                    </a>
                                </td>
                                <td>Active</td>
                                <td>100</td>

                                <td>
                                    <a href="#"><i class="fa-solid fa-pen"></i> Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                            
                            <tr>
                                <th scope="row">6</th>
                                <td>COS</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="COS">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/f4ae8600d3/cos-1.png/m/640x0"
                                                 alt="COS" />
                                        </figure>
                                    </a>
                                </td>
                                <td>Active</td>
                                <td>100</td>

                                <td>
                                    <a href="#"><i class="fa-solid fa-pen"></i> Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>ALLSAINTS</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="ALLSAINTS">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/f9cea543a6/allsaints-3.png/m/640x0"
                                                 alt="ALLSAINTS" />
                                        </figure>
                                    </a>
                                </td>
                                <td>Active</td>
                                <td>100</td>

                                <td>
                                    <a href="#"><i class="fa-solid fa-pen"></i> Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>UNIQLO</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="UNIQLO">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/18c684de12/uniqlo.png/m/640x0"
                                                 alt="UNIQLO" />
                                        </figure>
                                    </a>
                                </td>
                                <td>Active</td>
                                <td>100</td>

                                <td>
                                    <a href="#"><i class="fa-solid fa-pen"></i> Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>BOSS</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="BOSS">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/47299a557f/hugo-boss-3.png/m/640x0"
                                                 alt="BOSS" />
                                        </figure>
                                    </a>
                                </td>
                                <td>Active</td>
                                <td>100</td>

                                <td>
                                    <a href="#"><i class="fa-solid fa-pen"></i> Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>LEVI</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="LEVI">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/2d68741968/levi-s.png/m/640x0"
                                                 alt="LEVI" />
                                        </figure>
                                    </a>
                                </td>
                                <td>Active</td>
                                <td>100</td>

                                <td>
                                    <a href="#"><i class="fa-solid fa-pen"></i> Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>TOMMY</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="TOMMY">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/34e6886e88/tommy-hilfiger-3.png/m/640x0"
                                                 alt="TOMMY" />
                                        </figure>
                                    </a>
                                </td>
                                <td>Active</td>
                                <td>100</td>

                                <td>
                                    <a href="#"><i class="fa-solid fa-pen"></i> Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i> Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">12</th>
                                <td>TED</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="TED">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/6f7ed7090a/ted-baker-2.png/m/640x0"
                                                 alt="TED" />
                                        </figure>
                                    </a>
                                </td>
                                <td>Active</td>
                                <td>100</td>

                                <td>
                                    <a href="#"><i class="fa-solid fa-pen"></i> Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>PAUL</td>
                                <td>
                                    <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large tm-media-box"
                                       href="#"
                                       title="PAUL">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/0061a851a8/paul-smith-2.png/m/640x0"
                                                 alt="PAUL" />
                                        </figure>
                                    </a>
                                </td>
                                <td>Active</td>
                                <td>100</td>

                                <td>
                                    <a href="#"><i class="fa fa-successful fa-pen"></i> Edit </a> ||
                                    <a href="#"> <i class="fa-solid fa-trash"></i> Delete</a>
                                </td>
                            </tr>


                        </tbody>
                    </table>



                </div>
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
</body>
</html>
