@using Microsoft.AspNetCore.Identity;
@using SecondHand.Models.Domain;
@using Microsoft.AspNetCore.Http;
@using SecondHand.Utility;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>@ViewData["Title"]</title>
        <link
            rel="stylesheet"
            href="//fonts.googleapis.com/css?family=Roboto:400,500"
        />
    <link rel="apple-touch-icon" sizes="180x180" href="~/dist/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/dist/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/dist/img/favicon-16x16.png">
    <link rel="manifest" href="~/dist/img/site.webmanifest">
    <link rel="stylesheet" href="~/dist/css/cssBonus.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/uikit/style.css" />
    <link rel="stylesheet" href="~/lib/uikit/styles.css" />
    <link rel="stylesheet" href="~/lib/uikit/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <script src="~/js/uikit.js"></script>
    <script src="~/js/uikit-icons.js"></script>
    </head>
    <body>
        @RenderBody()
        <!-- SCRIPT -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="~/js/script.js"></script>
        <script src="https://kit.fontawesome.com/d7608d3ae4.js" crossorigin="anonymous"></script>
        @await RenderSectionAsync("scripts", required: false)
    </body>
</html>
