@using SecondHand.Models.Domain;
@using Microsoft.AspNetCore.Identity;
@using SecondHand.DataAccess.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    // SignInManager.IsSignedIn(User);
    // UserManager.GetUserName(User);
    var getOrderCount = HttpContextAccessor.HttpContext.Session.GetInt32("CountOrders");
}

@if (SignInManager.IsSignedIn(User))
{
    
    <a class="uk-navbar-item uk-link-muted tm-navbar-button"
   asp-controller="Personal" asp-action="Index"
       uk-icon="user"></a>
    <div class="uk-padding-small uk-margin-remove"
    uk-dropdown="pos: bottom-right; offset: -10; delay-hide: 200;"
    style="min-width: 150px">
        <ul class="uk-nav uk-dropdown-nav">
            <li>
                <a asp-controller="History" asp-action="Index">
                    Đơn hàng <span class="uk-badge">@getOrderCount</span>
                </a>
            </li>
            
            <li>
              <a  asp-controller="Favorites">Yêu thích <span class="uk-badge">2</span> </a>
            </li>
            <li>
              <a  asp-controller="Personal">Thông tin cá nhân  </a>
            </li>
            <li>
                <a href="#">Thông báo <span class="uk-badge">2</span></a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("", new {area = "Customer",controller = "Home", action="Index"})" method="post">
                        <button class="uk-button uk-button-text uk-button-small"
                                title="Đăng xuất" type="submit" class="nav-link btn btn-link text-dark">
                            Đăng xuất
                        </button>
                    </form>                      
            </li>
        </ul>
    </div>
}
else
{
    <a class="uk-navbar-item uk-link-muted tm-navbar-button"
   asp-area="Identity" asp-page="/Account/Login"
       uk-icon="user"></a>
}

