@model SecondHand.Models.Domain.Product

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}
<section class="content">
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title" style="color:white">Tạo mới sản phẩm</h3>
    </div>

    <form method="post" enctype="multipart/form-data">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter ..." style="height: 218px;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">    
                <input asp-for="Status" type="hidden" value="True" />
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>     
            <div class="form-group">
                <label asp-for ="Conditon"></label>
                <select asp-for="Conditon" class="form-control">
                    <option>Mới 100%</option>
                    <option>Mới 90%</option>
                    <option>Mới 80%</option>          
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Defects" class="control-label"></label>
                <input asp-for="Defects" class="form-control" />
                <span asp-validation-for="Defects" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MultipleImages" class="control-label"></label>

                <div class="custom-file">
                    <input asp-for="MultipleImages" class="custom-file-input" id="Img1" multiple
                           onchange="previewImages(this)">
                    <label class="custom-file-label">Chọn File</label>
                </div>
                <span asp-validation-for="MultipleImages" class="text-danger"></span>
                <div id="image-preview-container"></div>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Created" type="hidden" class="form-control" id="exampleInputText" placeholder="Tên" value="@DateTime.Now">
            </div>
        </div>

        <div class="card-footer row">
            <button type="submit" style="width: 150px" class="btn btn-primary">Tạo mới</button>
            <a asp-action="Index" type="submit" style="width: 150px; margin-left: 10px" class="btn btn-secondary">Trở về</a>
        </div>
    </form>
</div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        function previewImages(input) {
            var imagePreviewContainer = document.getElementById("image-preview-container");
            imagePreviewContainer.innerHTML = ""; // Xóa bất kỳ hình ảnh trước đó

            if (input.files) {
                var filesCount = input.files.length;

                for (var i = 0; i < filesCount; i++) {
                    var file = input.files[i];
                    var imageURL = window.URL.createObjectURL(file);

                    var img = document.createElement("img");
                    img.src = imageURL;
                    img.style.width = "150px";
                    img.style.height = "150px";
                    img.style.border = "1px solid #000";
                    img.style.marginTop = "20px";

                    imagePreviewContainer.appendChild(img);
                }
            }
        }
    </script>
}
