@{
    Layout = "_Layout";
}

    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                <section class="uk-text-center">
                    <a class="uk-link-muted uk-text-small"
                       href="cart.html">
                        <span class="uk-margin-xsmall-right"
                              uk-icon="icon: arrow-left; ratio: .75;"></span>Trở lại giỏ hàng
                    </a>
                    <h1 class="uk-margin-small-top uk-margin-remove-bottom">
                        Thanh Toán
                    </h1>
                </section>
                <section>
                    <div class="uk-grid-medium" uk-grid>
                        <form class="uk-form-stacked uk-width-1-1 tm-checkout uk-width-expand@m">
                            <div class="uk-grid-medium uk-child-width-1-1"
                                 uk-grid>
                                <section>
                                    <h2 class="tm-checkout-title">
                                        Xác Nhận Đơn Hàng
                                    </h2>
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body tm-ignore-container">
                                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s"
                                             uk-grid>
                                            <div>
                                                <label>
                                                    <div class="uk-form-label uk-form-label-required">
                                                        Tên
                                                    </div>
                                                    <input class="uk-input"
                                                           type="text"
                                                           required />
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <div class="uk-form-label uk-form-label-required">
                                                        Tên Đệm
                                                    </div>
                                                    <input class="uk-input"
                                                           type="text"
                                                           required />
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <div class="uk-form-label uk-form-label-required">
                                                        Số Điện Thoại
                                                    </div>
                                                    <input class="uk-input"
                                                           type="tel"
                                                           required />
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <div class="uk-form-label uk-form-label-required">
                                                        Email
                                                    </div>
                                                    <input class="uk-input"
                                                           type="email"
                                                           required />
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <h2 class="tm-checkout-title">
                                        Giao hàng
                                    </h2>
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body tm-ignore-container">
                                        <div class="uk-grid-small uk-grid-match uk-child-width-1-1 uk-child-width-1-3@s uk-flex-center"
                                             uk-switcher="toggle: &gt; * &gt; .tm-choose"
                                             uk-grid>
                                            <div>
                                                <a class="tm-choose"
                                                   href="#">
                                                    <div class="tm-choose-title">
                                                        Lấy từ cửa hàng
                                                    </div>
                                                    <div class="tm-choose-description">
                                                        Miễn phí,
                                                        Ngày mai
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <a class="tm-choose"
                                                   href="#">
                                                    <div class="tm-choose-title">
                                                        Vận chuyển trong công ty,
                                                        Miễn phí
                                                    </div>
                                                    <div class="tm-choose-description">
                                                        miễn phí,
                                                        ngày mai
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <a class="tm-choose"
                                                   href="#">
                                                    <div class="tm-choose-title">
                                                        giao hàng
                                                        khu vực
                                                    </div>
                                                    <div class="tm-choose-description">
                                                        Thông qua
                                                        Dịch vụ
                                                        Bưu chính
                                                        Nga hoặc
                                                        dịch vụ
                                                        chuyển phát
                                                        bưu điện.
                                                        Gửi đến bất kỳ quốc gia nào
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="uk-switcher uk-margin">
                                            <section>
                                                <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s"
                                                     uk-grid>
                                                    <div>
                                                        <figure class="uk-card-media-top tm-ratio tm-ratio-16-9 js-map"
                                                                data-latitude="59.9356728"
                                                                data-longitude="30.3258604"
                                                                data-zoom="14"></figure>
                                                    </div>
                                                    <div class="uk-text-small">
                                                        <div class="uk-text-bolder">
                                                            Tên cửa hàng
                                                        </div>
                                                        <div>
                                                            27.&nbsp;Tôn thất tùng,
                                                            phường 04&nbsp;tp.Đà Lạt&nbsp;
                                                        </div>
                                                        <div>
                                                            Hàng ngày
                                                            10:00–22:00
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section>
                                                <div class="uk-grid-small"
                                                     uk-grid>
                                                    <div class="uk-width-expand">
                                                        <label>
                                                            <div class="uk-form-label uk-form-label-required">
                                                                Đường
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                    <div class="uk-width-1-3 uk-width-1-6@s">
                                                        <label>
                                                            <div class="uk-form-label uk-form-label-required">
                                                                Nhà
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="uk-grid-small uk-child-width-1-3 uk-child-width-1-4@s"
                                                     uk-grid>
                                                    <div>
                                                        <label>
                                                            <div class="uk-form-label">
                                                                Tòa Nhà
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label>
                                                            <div class="uk-form-label">
                                                                Lỗi vào
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label>
                                                            <div class="uk-form-label">
                                                                Floor
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label>
                                                            <div class="uk-form-label">
                                                                Căn hộ
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <label>
                                                            <div class="uk-form-label">
                                                                Bình luận
                                                            </div>
                                                            <textarea class="uk-textarea"
                                                                      rows="5"
                                                                      placeholder="Additional information: phone numbers or doorphone code"></textarea>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="uk-grid-small uk-child-width-1-2 uk-child-width-1-4@s"
                                                     uk-grid>
                                                    <div class="uk-width-1-1 uk-text-meta">
                                                        Chọn một
                                                        ngày
                                                        thuận lợi và
                                                        khoảng thời gian
                                                        vận chuyển
                                                    </div>
                                                    <div>
                                                        <select class="uk-select">
                                                            <option>
                                                                Ngày mai
                                                            </option>
                                                            <option>
                                                                25
                                                                tháng5
                                                            </option>
                                                            <option>
                                                                26
                                                                tháng 5
                                                            </option>
                                                            <option>
                                                                27
                                                                tháng 5
                                                            </option>
                                                            <option>
                                                                28
                                                                tháng 5
                                                            </option>
                                                            <option>
                                                                29
                                                                tháng 5
                                                            </option>
                                                            <option>
                                                                30
                                                                tháng 5
                                                            </option>
                                                            <option>
                                                                1
                                                                tháng 1
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div>
                                                        <select class="uk-select">
                                                            <option>
                                                                09:00
                                                                –
                                                                12:00
                                                            </option>
                                                            <option>
                                                                12:00
                                                                –
                                                                15:00
                                                            </option>
                                                            <option>
                                                                15:00
                                                                –
                                                                18:00
                                                            </option>
                                                            <option>
                                                                18:00
                                                                –
                                                                21:00
                                                            </option>
                                                            <option>
                                                                21:00
                                                                –
                                                                23:00
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </section>
                                            <div>
                                                <div class="uk-grid-small"
                                                     uk-grid>
                                                    <div class="uk-width-1-1">
                                                        <label>
                                                            <div class="uk-form-label uk-form-label-required">
                                                                Đất nước
                                                            </div>
                                                            <select class="uk-select">
                                                                <option>
                                                                    Chọn
                                                                    đất
                                                                    nước
                                                                </option>
                                                                <option value="RU">
                                                                    Nga
                                                                </option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="uk-grid-small"
                                                     uk-grid>
                                                    <div class="uk-width-expand">
                                                        <label>
                                                            <div class="uk-form-label uk-form-label-required">
                                                                Thành phố
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                    <div class="uk-width-1-3 uk-width-1-6@s">
                                                        <label>
                                                            <div class="uk-form-label uk-form-label-required">
                                                                Nhập
                                                                Mã
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="uk-grid-small"
                                                     uk-grid>
                                                    <div class="uk-width-expand">
                                                        <label>
                                                            <div class="uk-form-label uk-form-label-required">
                                                                Đường
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                    <div class="uk-width-1-3 uk-width-1-6@s">
                                                        <label>
                                                            <div class="uk-form-label uk-form-label-required">
                                                                Nhà
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="uk-grid-small uk-child-width-1-3 uk-child-width-1-4@s"
                                                     uk-grid>
                                                    <div>
                                                        <label>
                                                            <div class="uk-form-label">
                                                                Tòa nhà
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label>
                                                            <div class="uk-form-label">
                                                                Lỗi vào
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label>
                                                            <div class="uk-form-label">
                                                                Sàn nhà
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label>
                                                            <div class="uk-form-label">
                                                                Căn hộ
                                                            </div>
                                                            <input class="uk-input"
                                                                   type="text" />
                                                        </label>
                                                    </div>
                                                    <div class="uk-width-1-1">
                                                        <label>
                                                            <div class="uk-form-label">
                                                                Bình luận
                                                            </div>
                                                            <textarea class="uk-textarea"
                                                                      rows="5"
                                                                      placeholder="Additional information: phone numbers or doorphone code"></textarea>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <h2 class="tm-checkout-title">
                                        Phương thức trả tiền
                                    </h2>
                                    <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                        <div class="uk-card-body">
                                            <div class="uk-grid-small uk-grid-match uk-child-width-1-1 uk-child-width-1-3@s uk-flex-center"
                                                 uk-switcher="toggle: &gt; * &gt; .tm-choose"
                                                 uk-grid>
                                                <div>
                                                    <a class="tm-choose"
                                                       href="#">
                                                        <div class="tm-choose-title">
                                                            Trả tiền
                                                            khi
                                                            nhận hàng
                                                        </div>
                                                        <div class="tm-choose-description">
                                                            Tiền mặt,
                                                            Thẻ tín dụng
                                                        </div>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a class="tm-choose"
                                                       href="#">
                                                        <div class="tm-choose-title">
                                                            Thẻ trực tuyến
                                                        </div>
                                                        <div class="tm-choose-description">
                                                            Visa,
                                                            MasterCard
                                                        </div>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a class="tm-choose"
                                                       href="#">
                                                        <div class="tm-choose-title">
                                                            Thanh toán
                                                            điện tử
                                                        </div>
                                                        <div class="tm-choose-description">
                                                            PayPal,
                                                            Yandex.Money,
                                                            QIWI
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-card-footer">
                                            <div class="uk-grid-small uk-flex-middle uk-flex-center uk-text-center"
                                                 uk-grid>
                                                <div class="uk-text-meta">
                                                    <span class="uk-margin-xsmall-right"
                                                          uk-icon="icon: lock; ratio: .75;"></span>An ninh
                                                    trong việc
                                                    thanh toán
                                                    được đảm bảo bởi
                                                    các giao thức bảo mật
                                                </div>
                                                <div>
                                                    <img src="images/verified-by-visa.svg"
                                                         title="Verified by Visa"
                                                         style="
                                                                        height: 25px;
                                                                    " />
                                                </div>
                                                <div>
                                                    <img src="images/mastercard-securecode.svg"
                                                         title="MasterCard SecureCode"
                                                         style="
                                                                        height: 25px;
                                                                    " />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </form>
                        <div class="uk-width-1-1 uk-width-1-4@m tm-aside-column">
                            <div class="uk-card uk-card-default uk-card-small tm-ignore-container"
                                 uk-sticky="offset: 30; bottom: true;">
                                <section class="uk-card-body">
                                    <h4>Sản phẩm đã đặt</h4>
                                    <div class="uk-grid-small"
                                         uk-grid>
                                        <div class="uk-width-expand">
                                            <div class="uk-text-small">
                                                Apple MacBook Pro
                                                15&quot; Touch Bar
                                                MPTU2LL/A 256GB
                                                (Silver)
                                            </div>
                                            <div class="uk-text-meta">
                                                1 × $1599.00
                                            </div>
                                        </div>
                                        <div class="uk-text-right">
                                            <div>$1599.00</div>
                                        </div>
                                    </div>
                                    <div class="uk-grid-small"
                                         uk-grid>
                                        <div class="uk-width-expand">
                                            <div class="uk-text-small">
                                                Apple MacBook
                                                12&quot; MNYN2LL/A
                                                512GB (Rose Gold)
                                            </div>
                                            <div class="uk-text-meta">
                                                1 × $1549.00
                                            </div>
                                        </div>
                                        <div class="uk-text-right">
                                            <div>$1549.00</div>
                                        </div>
                                    </div>
                                </section>
                                <section class="uk-card-body">
                                    <div class="uk-grid-small"
                                         uk-grid>
                                        <div class="uk-width-expand">
                                            <div class="uk-text-muted">
                                                Giao hàng
                                            </div>
                                        </div>
                                        <div class="uk-text-right">
                                            <div>
                                                Nhận từ cửa hàng
                                            </div>
                                            <div class="uk-text-meta">
                                                Miễn phí, Ngày mai
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-grid-small"
                                         uk-grid>
                                        <div class="uk-width-expand">
                                            <div class="uk-text-muted">
                                                Trả tiền
                                            </div>
                                        </div>
                                        <div class="uk-text-right">
                                            <div>
                                                Thẻ trực tuyến
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="uk-card-body">
                                    <div class="uk-grid-small"
                                         uk-grid>
                                        <div class="uk-width-expand">
                                            <div class="uk-text-muted">
                                                Tạm Tổng Tính
                                            </div>
                                        </div>
                                        <div class="uk-text-right">
                                            <div>$3148</div>
                                        </div>
                                    </div>
                                    <div class="uk-grid-small"
                                         uk-grid>
                                        <div class="uk-width-expand">
                                            <div class="uk-text-muted">
                                                Giảm giá
                                            </div>
                                        </div>
                                        <div class="uk-text-right">
                                            <div class="uk-text-danger">
                                                −$29
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="uk-card-body">
                                    <div class="uk-grid-small uk-flex-middle"
                                         uk-grid>
                                        <div class="uk-width-expand">
                                            <div class="uk-text-muted">
                                                Tổng Tiền
                                            </div>
                                        </div>
                                        <div class="uk-text-right">
                                            <div class="uk-text-lead uk-text-bolder">
                                                $3119
                                            </div>
                                        </div>
                                    </div>
                                    <button class="uk-button uk-button-primary uk-margin-small uk-width-1-1">
                                        Thanh Toán
                                    </button>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

