@{
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css" rel="stylesheet">
}

<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <form class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <ul class="uk-tab uk-flex-center" uk-grid uk-switcher="animation: uk-animation-fade">
                            <li><a href="#">Đăng kí</a></li>
                            <li><a href="#">Đăng nhập</a></li>

                        </ul>
                        <ul class="uk-switcher uk-margin">
                            <li>
                                <form>
                                    <div class="mb-3">
                                        <label for="login" class="form-label">Tên Đăng Nhập:</label>
                                        <input type="login" placeholder="thaimc" class="form-control" id="login" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="signupPassword" class="form-label">Mật Khẩu</label>
                                        <input type="password" placeholder="thaimc123" class="form-control" id="signupPassword" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="signupEmail" class="form-label">Email</label>
                                        <input type="email" placeholder="secondhand@gmail.com" class="form-control" id="signupEmail" aria-describedby="emailHelp" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="sdt" class="form-label">Số Điện Thoại</label>
                                        <input type="sdt" placeholder="0123455..." class="form-control" id="sdt" required>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Đăng ký</button>
                                </form>
                            </li>
                            <li>
                                <form>
                                    <div class="mb-3">
                                        <label for="login" class="form-label">Tên Đăng Nhập:</label>
                                        <input type="login" placeholder="thaimc" class="form-control" id="login" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="loginPassword" class="form-label">Mật khẩu</label>
                                        <input type="password" class="form-control" id="loginPassword" required>
                                    </div>
                                    <a href="#">Quên mật khẩu? </a>
                                    <button type="submit" asp-controller="Home" asp-action="Index" class="btn btn-primary">Đăng nhập</button>
                                </form>
                            </li>

                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>
