@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";

}
   
            
                <!-- phần nội dung -->
                <div class="flex-box">
                    <div class="left">
                        <div class="big-img">
                            <img src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967">
                        </div>
                        <div class="images">
                            <div class="small-img">
                                <img src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967" onclick="showImg(this.src)">
                            </div>
                            <div class="small-img">
                                <img src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967" onclick="showImg(this.src)">
                            </div>
                            <div class="small-img">
                                <img src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967" onclick="showImg(this.src)">
                            </div>
                            <div class="small-img">
                                <img src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967" onclick="showImg(this.src)">
                            </div>
                        </div>
                    </div>
            
                    <div class="right">
                        <div class="url">Men > Tops > Tommy Hilfiger Men's T-Shirt Xl White 100% Cotton</div>
                        <div class="pname">Nike T-Shirt</div>
                        <div class="pname2">Men's Size M</div>
                        <div class="ratings">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="price"><p>100.000VNĐ<sup>đ</sup></p></div>

                        <div class="btn-box">
                            <!-- <button class="cart-btn">Add to Cart</button>
                            <button class="buy-btn">Buy Now</button>
                            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Button</button> -->
                            <button class="uk-button uk-button-custom">Add to Cart</button>
                            <button class="uk-button uk-button-custom">Watch Item</button>
                        </div>
                        <div class="details">
                            <p class="detail-heading" onclick="toggleDetails()">DETAILS</p>
                            <div class="detail-content">
                                <p class="detail-text">
                                    <a href="#">T-shirts</a> by <a href="#">Tommy Hilfiger</a>
                                </p>
                                <div class="norword">
                                    <p>- Material: Cotton</p>
                                    <p>- Colour: White</p>
                                    <p>- Condition: Signs Of Wear</p>
                                    <p>- SKU: 238.0T900.J04</p>
                                    <p>- Material: Cotton</p>
                                    <p>- Colour: White</p>
                                    <p>- Condition: Signs Of Wear</p>
                                    <p>- SKU: 238.0T900.J04</p>
                                </div>
                            </div>
                            <p class="detail-heading" onclick="toggleDefects()">DEFECTS</p>
                            <div class="detail-content">
                                <div class="norword2">
                                    <p>- Minor Mark</p>
                                    
                                </div>
                            </div>
                        </div>
                        
                </div>



                <script>
                    let bigImg = document.querySelector('.big-img img');
                    function showImg(pic){
                        bigImg.src = pic;
                    }
                </script>

            </div>
        <section>
            <div class="text">
                <p>YOU MAY ALSO LIKE</p>
            </div>
            <div class="slidershow">
                <article class="tm-product-card">
                    <div class="tm-product-card-media">
                        <div class="tm-ratio tm-ratio-4-3">
                            <a
                                class="tm-media-box uk-padding-remove"
                                href="product.html"
                                >
                                <figure
                                    class="tm-media-box-wrap"
                                >
                                    <img
                                        src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                        alt='Nike T-Shirt'
                                    /></figure
                            ></a>
                        </div>
                    </div>
                    <div class="tm-product-card-body">
                        <div class="tm-product-card-info">
                            <div
                                class="uk-text-meta uk-margin-xsmall-bottom"
                            >
                                Áo
                            </div>
                            <h3 class="tm-product-card-title">
                                <a
                                    class="uk-link-heading"
                                    href="product.html"
                                    >Nike T-Shirt</a
                                >
                            </h3>                                       
                        </div>
                        <div class="tm-product-card-shop product-mg">
                            <div class="tm-product-card-prices ">   
                                <div class="uk-text-meta">Size M</div>                                       
                                <div
                                    class="tm-product-card-price"
                                >
                                    100.000VNĐ
                                </div>
                            </div>
                            <div class="tm-product-card-add">
                                <div
                                    class="uk-text-meta tm-product-card-actions"
                                >
                                    <a
                                        class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                        title="Yêu thích"
                                        ><span
                                            uk-icon="icon: heart; ratio: .75;"
                                        ></span
                                        ><span
                                            class="tm-product-card-action-text"
                                            >Add to
                                            favorites</span
                                        ></a
                                    >
                                </div>
                                <button
                                    class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"
                                >
                                    <span
                                        class="tm-product-card-add-button-icon"
                                        uk-icon="cart"
                                    ></span
                                    ><span
                                        class="tm-product-card-add-button-text"
                                        >add to cart</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="tm-product-card">
                    <div class="tm-product-card-media">
                        <div class="tm-ratio tm-ratio-4-3">
                            <a
                                class="tm-media-box uk-padding-remove"
                                href="product.html"
                                >
                                <figure
                                    class="tm-media-box-wrap"
                                >
                                    <img
                                        src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                        alt='Nike T-Shirt'
                                    /></figure
                            ></a>
                        </div>
                    </div>
                    <div class="tm-product-card-body">
                        <div class="tm-product-card-info">
                            <div
                                class="uk-text-meta uk-margin-xsmall-bottom"
                            >
                                Áo
                            </div>
                            <h3 class="tm-product-card-title">
                                <a
                                    class="uk-link-heading"
                                    href="product.html"
                                    >Nike T-Shirt</a
                                >
                            </h3>                                       
                        </div>
                        <div class="tm-product-card-shop product-mg">
                            <div class="tm-product-card-prices ">   
                                <div class="uk-text-meta">Size M</div>                                       
                                <div
                                    class="tm-product-card-price"
                                >
                                    100.000VNĐ
                                </div>
                            </div>
                            <div class="tm-product-card-add">
                                <div
                                    class="uk-text-meta tm-product-card-actions"
                                >
                                    <a
                                        class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                        title="Yêu thích"
                                        ><span
                                            uk-icon="icon: heart; ratio: .75;"
                                        ></span
                                        ><span
                                            class="tm-product-card-action-text"
                                            >Add to
                                            favorites</span
                                        ></a
                                    >
                                </div>
                                <button
                                    class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"
                                >
                                    <span
                                        class="tm-product-card-add-button-icon"
                                        uk-icon="cart"
                                    ></span
                                    ><span
                                        class="tm-product-card-add-button-text"
                                        >add to cart</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="tm-product-card">
                    <div class="tm-product-card-media">
                        <div class="tm-ratio tm-ratio-4-3">
                            <a
                                class="tm-media-box uk-padding-remove"
                                href="product.html"
                                >
                                <figure
                                    class="tm-media-box-wrap"
                                >
                                    <img
                                        src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                        alt='Nike T-Shirt'
                                    /></figure
                            ></a>
                        </div>
                    </div>
                    <div class="tm-product-card-body">
                        <div class="tm-product-card-info">
                            <div
                                class="uk-text-meta uk-margin-xsmall-bottom"
                            >
                                Áo
                            </div>
                            <h3 class="tm-product-card-title">
                                <a
                                    class="uk-link-heading"
                                    href="product.html"
                                    >Nike T-Shirt</a
                                >
                            </h3>                                       
                        </div>
                        <div class="tm-product-card-shop product-mg">
                            <div class="tm-product-card-prices ">   
                                <div class="uk-text-meta">Size M</div>                                       
                                <div
                                    class="tm-product-card-price"
                                >
                                    100.000VNĐ
                                </div>
                            </div>
                            <div class="tm-product-card-add">
                                <div
                                    class="uk-text-meta tm-product-card-actions"
                                >
                                    <a
                                        class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                        title="Yêu thích"
                                        ><span
                                            uk-icon="icon: heart; ratio: .75;"
                                        ></span
                                        ><span
                                            class="tm-product-card-action-text"
                                            >Add to
                                            favorites</span
                                        ></a
                                    >
                                </div>
                                <button
                                    class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"
                                >
                                    <span
                                        class="tm-product-card-add-button-icon"
                                        uk-icon="cart"
                                    ></span
                                    ><span
                                        class="tm-product-card-add-button-text"
                                        >add to cart</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="tm-product-card">
                    <div class="tm-product-card-media">
                        <div class="tm-ratio tm-ratio-4-3">
                            <a
                                class="tm-media-box uk-padding-remove"
                                href="product.html"
                                >
                                <figure
                                    class="tm-media-box-wrap"
                                >
                                    <img
                                        src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                        alt='Nike T-Shirt'
                                    /></figure
                            ></a>
                        </div>
                    </div>
                    <div class="tm-product-card-body">
                        <div class="tm-product-card-info">
                            <div
                                class="uk-text-meta uk-margin-xsmall-bottom"
                            >
                                Áo
                            </div>
                            <h3 class="tm-product-card-title">
                                <a
                                    class="uk-link-heading"
                                    href="product.html"
                                    >Nike T-Shirt</a
                                >
                            </h3>                                       
                        </div>
                        <div class="tm-product-card-shop product-mg">
                            <div class="tm-product-card-prices ">   
                                <div class="uk-text-meta">Size M</div>                                       
                                <div
                                    class="tm-product-card-price"
                                >
                                    100.000VNĐ
                                </div>
                            </div>
                            <div class="tm-product-card-add">
                                <div
                                    class="uk-text-meta tm-product-card-actions"
                                >
                                    <a
                                        class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                        title="Yêu thích"
                                        ><span
                                            uk-icon="icon: heart; ratio: .75;"
                                        ></span
                                        ><span
                                            class="tm-product-card-action-text"
                                            >Add to
                                            favorites</span
                                        ></a
                                    >
                                </div>
                                <button
                                    class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"
                                >
                                    <span
                                        class="tm-product-card-add-button-icon"
                                        uk-icon="cart"
                                    ></span
                                    ><span
                                        class="tm-product-card-add-button-text"
                                        >add to cart</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="tm-product-card">
                    <div class="tm-product-card-media">
                        <div class="tm-ratio tm-ratio-4-3">
                            <a
                                class="tm-media-box uk-padding-remove"
                                href="product.html"
                                >
                                <figure
                                    class="tm-media-box-wrap"
                                >
                                    <img
                                        src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                        alt='Nike T-Shirt'
                                    /></figure
                            ></a>
                        </div>
                    </div>
                    <div class="tm-product-card-body">
                        <div class="tm-product-card-info">
                            <div
                                class="uk-text-meta uk-margin-xsmall-bottom"
                            >
                                Áo
                            </div>
                            <h3 class="tm-product-card-title">
                                <a
                                    class="uk-link-heading"
                                    href="product.html"
                                    >Nike T-Shirt</a
                                >
                            </h3>                                       
                        </div>
                        <div class="tm-product-card-shop product-mg">
                            <div class="tm-product-card-prices ">   
                                <div class="uk-text-meta">Size M</div>                                       
                                <div
                                    class="tm-product-card-price"
                                >
                                    100.000VNĐ
                                </div>
                            </div>
                            <div class="tm-product-card-add">
                                <div
                                    class="uk-text-meta tm-product-card-actions"
                                >
                                    <a
                                        class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                        title="Yêu thích"
                                        ><span
                                            uk-icon="icon: heart; ratio: .75;"
                                        ></span
                                        ><span
                                            class="tm-product-card-action-text"
                                            >Add to
                                            favorites</span
                                        ></a
                                    >
                                </div>
                                <button
                                    class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"
                                >
                                    <span
                                        class="tm-product-card-add-button-icon"
                                        uk-icon="cart"
                                    ></span
                                    ><span
                                        class="tm-product-card-add-button-text"
                                        >add to cart</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="slideshow2">
                <article class="tm-product-card">
                    <div class="tm-product-card-media">
                        <div class="tm-ratio tm-ratio-4-3">
                            <a
                                class="tm-media-box uk-padding-remove"
                                href="product.html"
                                >
                                <figure
                                    class="tm-media-box-wrap"
                                >
                                    <img
                                        src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                        alt='Nike T-Shirt'
                                    /></figure
                            ></a>
                        </div>
                    </div>
                    <div class="tm-product-card-body">
                        <div class="tm-product-card-info">
                            <div
                                class="uk-text-meta uk-margin-xsmall-bottom"
                            >
                                Áo
                            </div>
                            <h3 class="tm-product-card-title">
                                <a
                                    class="uk-link-heading"
                                    href="product.html"
                                    >Nike T-Shirt</a
                                >
                            </h3>                                       
                        </div>
                        <div class="tm-product-card-shop product-mg">
                            <div class="tm-product-card-prices ">   
                                <div class="uk-text-meta">Size M</div>                                       
                                <div
                                    class="tm-product-card-price"
                                >
                                    100.000VNĐ
                                </div>
                            </div>
                            <div class="tm-product-card-add">
                                <div
                                    class="uk-text-meta tm-product-card-actions"
                                >
                                    <a
                                        class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                        title="Yêu thích"
                                        ><span
                                            uk-icon="icon: heart; ratio: .75;"
                                        ></span
                                        ><span
                                            class="tm-product-card-action-text"
                                            >Add to
                                            favorites</span
                                        ></a
                                    >
                                </div>
                                <button
                                    class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"
                                >
                                    <span
                                        class="tm-product-card-add-button-icon"
                                        uk-icon="cart"
                                    ></span
                                    ><span
                                        class="tm-product-card-add-button-text"
                                        >add to cart</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="tm-product-card">
                    <div class="tm-product-card-media">
                        <div class="tm-ratio tm-ratio-4-3">
                            <a
                                class="tm-media-box uk-padding-remove"
                                href="product.html"
                                >
                                <figure
                                    class="tm-media-box-wrap"
                                >
                                    <img
                                        src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                        alt='Nike T-Shirt'
                                    /></figure
                            ></a>
                        </div>
                    </div>
                    <div class="tm-product-card-body">
                        <div class="tm-product-card-info">
                            <div
                                class="uk-text-meta uk-margin-xsmall-bottom"
                            >
                                Áo
                            </div>
                            <h3 class="tm-product-card-title">
                                <a
                                    class="uk-link-heading"
                                    href="product.html"
                                    >Nike T-Shirt</a
                                >
                            </h3>                                       
                        </div>
                        <div class="tm-product-card-shop product-mg">
                            <div class="tm-product-card-prices ">   
                                <div class="uk-text-meta">Size M</div>                                       
                                <div
                                    class="tm-product-card-price"
                                >
                                    100.000VNĐ
                                </div>
                            </div>
                            <div class="tm-product-card-add">
                                <div
                                    class="uk-text-meta tm-product-card-actions"
                                >
                                    <a
                                        class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                        title="Yêu thích"
                                        ><span
                                            uk-icon="icon: heart; ratio: .75;"
                                        ></span
                                        ><span
                                            class="tm-product-card-action-text"
                                            >Add to
                                            favorites</span
                                        ></a
                                    >
                                </div>
                                <button
                                    class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"
                                >
                                    <span
                                        class="tm-product-card-add-button-icon"
                                        uk-icon="cart"
                                    ></span
                                    ><span
                                        class="tm-product-card-add-button-text"
                                        >add to cart</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="tm-product-card">
                    <div class="tm-product-card-media">
                        <div class="tm-ratio tm-ratio-4-3">
                            <a
                                class="tm-media-box uk-padding-remove"
                                href="product.html"
                                >
                                <figure
                                    class="tm-media-box-wrap"
                                >
                                    <img
                                        src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                        alt='Nike T-Shirt'
                                    /></figure
                            ></a>
                        </div>
                    </div>
                    <div class="tm-product-card-body">
                        <div class="tm-product-card-info">
                            <div
                                class="uk-text-meta uk-margin-xsmall-bottom"
                            >
                                Áo
                            </div>
                            <h3 class="tm-product-card-title">
                                <a
                                    class="uk-link-heading"
                                    href="product.html"
                                    >Nike T-Shirt</a
                                >
                            </h3>                                       
                        </div>
                        <div class="tm-product-card-shop product-mg">
                            <div class="tm-product-card-prices ">   
                                <div class="uk-text-meta">Size M</div>                                       
                                <div
                                    class="tm-product-card-price"
                                >
                                    100.000VNĐ
                                </div>
                            </div>
                            <div class="tm-product-card-add">
                                <div
                                    class="uk-text-meta tm-product-card-actions"
                                >
                                    <a
                                        class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                        title="Yêu thích"
                                        ><span
                                            uk-icon="icon: heart; ratio: .75;"
                                        ></span
                                        ><span
                                            class="tm-product-card-action-text"
                                            >Add to
                                            favorites</span
                                        ></a
                                    >
                                </div>
                                <button
                                    class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"
                                >
                                    <span
                                        class="tm-product-card-add-button-icon"
                                        uk-icon="cart"
                                    ></span
                                    ><span
                                        class="tm-product-card-add-button-text"
                                        >add to cart</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="tm-product-card">
                    <div class="tm-product-card-media">
                        <div class="tm-ratio tm-ratio-4-3">
                            <a
                                class="tm-media-box uk-padding-remove"
                                href="product.html"
                                >
                                <figure
                                    class="tm-media-box-wrap"
                                >
                                    <img
                                        src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                        alt='Nike T-Shirt'
                                    /></figure
                            ></a>
                        </div>
                    </div>
                    <div class="tm-product-card-body">
                        <div class="tm-product-card-info">
                            <div
                                class="uk-text-meta uk-margin-xsmall-bottom"
                            >
                                Áo
                            </div>
                            <h3 class="tm-product-card-title">
                                <a
                                    class="uk-link-heading"
                                    href="product.html"
                                    >Nike T-Shirt</a
                                >
                            </h3>                                       
                        </div>
                        <div class="tm-product-card-shop product-mg">
                            <div class="tm-product-card-prices ">   
                                <div class="uk-text-meta">Size M</div>                                       
                                <div
                                    class="tm-product-card-price"
                                >
                                    100.000VNĐ
                                </div>
                            </div>
                            <div class="tm-product-card-add">
                                <div
                                    class="uk-text-meta tm-product-card-actions"
                                >
                                    <a
                                        class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                        title="Yêu thích"
                                        ><span
                                            uk-icon="icon: heart; ratio: .75;"
                                        ></span
                                        ><span
                                            class="tm-product-card-action-text"
                                            >Add to
                                            favorites</span
                                        ></a
                                    >
                                </div>
                                <button
                                    class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"
                                >
                                    <span
                                        class="tm-product-card-add-button-icon"
                                        uk-icon="cart"
                                    ></span
                                    ><span
                                        class="tm-product-card-add-button-text"
                                        >add to cart</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="tm-product-card">
                    <div class="tm-product-card-media">
                        <div class="tm-ratio tm-ratio-4-3">
                            <a
                                class="tm-media-box uk-padding-remove"
                                href="product.html"
                                >
                                <figure
                                    class="tm-media-box-wrap"
                                >
                                    <img
                                        src="https://cdn.shopify.com/s/files/1/1754/6207/files/651d8dd3-82b6-4335-9aa2-df96ec564565_640x.jpg.webp?v=1691071967"
                                        alt='Nike T-Shirt'
                                    /></figure
                            ></a>
                        </div>
                    </div>
                    <div class="tm-product-card-body">
                        <div class="tm-product-card-info">
                            <div
                                class="uk-text-meta uk-margin-xsmall-bottom"
                            >
                                Áo
                            </div>
                            <h3 class="tm-product-card-title">
                                <a
                                    class="uk-link-heading"
                                    href="product.html"
                                    >Nike T-Shirt</a
                                >
                            </h3>                                       
                        </div>
                        <div class="tm-product-card-shop product-mg">
                            <div class="tm-product-card-prices ">   
                                <div class="uk-text-meta">Size M</div>                                       
                                <div
                                    class="tm-product-card-price"
                                >
                                    100.000VNĐ
                                </div>
                            </div>
                            <div class="tm-product-card-add">
                                <div
                                    class="uk-text-meta tm-product-card-actions"
                                >
                                    <a
                                        class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                        title="Yêu thích"
                                        ><span
                                            uk-icon="icon: heart; ratio: .75;"
                                        ></span
                                        ><span
                                            class="tm-product-card-action-text"
                                            >Add to
                                            favorites</span
                                        ></a
                                    >
                                </div>
                                <button
                                    class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"
                                >
                                    <span
                                        class="tm-product-card-add-button-icon"
                                        uk-icon="cart"
                                    ></span
                                    ><span
                                        class="tm-product-card-add-button-text"
                                        >add to cart</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </article>  
            </div> 
        </section>

     