@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="row justify-content-center uk-padding">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2 class="text-center">Đăng nhập</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserNameOrEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.UserNameOrEmail" class="form-label">Email</label>
                    <span asp-validation-for="Input.UserNameOrEmail" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng nhập</button>
                </div>
                <div class="uk-margin-top">
                    <p>
                        <a class="text-decoration-none" id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
                    </p>
                    <p>
                        <a class="text-decoration-none" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký tài khoản</a>
                    </p>
                    <p>
                        <a class="text-decoration-none" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Xác thực lại email</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
