@page "/dat-lai-mat-khau-xacnhan"
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
    Layout = "_LoginLayout";
}

<div class="row justify-content-center centerDiv">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1>@ViewData["Title"]</h1>
                                <img src="~/images/success.gif" />
                                <p>
                                    Mật khẩu đã được đặt lại. Hãy <a asp-page="./Login">đăng nhập</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>