@page "/dat-lai-mat-khau"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
    Layout = "_LoginLayout";
}

<div class="container centerDiv">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
                        </div>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <input asp-for="Input.Code" type="hidden" />
                            <input hidden asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                           
                            <div class="form-floating mb-3">
                                <label asp-for="Input.Password" class="form-label">Mật khẩu</label>

                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập mật khẩu" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <label asp-for="Input.ConfirmPassword" class="form-label">Nhập lại mật khẩu</label>

                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Xác nhận lại mật khẩu" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Đặt lại</button>
                        </form>
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
