@model SecondHand.Models.Domain.Brand

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">

        <h3 class="card-title" style="color:white">Tạo mới thương hiệu</h3>
    </div>
        <form method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" placeholder="Tên" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>                
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>              
                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter ..." style="height: 218px;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">

                <label asp-for="ImageFile" class="control-label"></label>

                <div class="custom-file">
                    <input asp-for="ImageFile" class="custom-file-input" id="ImgBr"
                           onchange="document.getElementById('ImgBrandPRV').src = window.URL.createObjectURL(this.files[0])">
                    <label class="custom-file-label" asp-for="ImageFile">Chọn File</label>

                </div>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                <img id="ImgBrandPRV" src="" alt="Logo Brand"  style="width:150px; height: 150px; border: 1px; margin-top: 20px;"/>
            </div>

            <div class="card-footer row">
                <button type="submit" style="width: 150px" class="btn btn-primary">Tạo mới</button>
                <a asp-controller="Category" asp-action="Index" type="submit" style="width: 150px; margin-left: 10px" class="btn btn-secondary ">Trở về</a>
            </div>
            
        </div>
        </form>
    </div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(".custom-file-input").on("change",function(){
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        
    
    </script>
}
