@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";

}

    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-medium" uk-grid>
                <div class="uk-width-1-1 uk-width-1-4@m tm-aside-column">
                    <div class="uk-card uk-card-default uk-card-small tm-ignore-container"
                         uk-sticky="offset: 90; bottom: true; ">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-child-width-1-1"
                                 uk-grid>

                                <div class="uk-h4 uk-margin-remove">
                                    ADMIN
                                </div>
                                <div class="uk-text-meta">
                                    Đã tham gia 8/6/2023
                                </div>
                                <div class="uk-margin-top">
                                    <div class="uk-grid-small uk-flex-center"
                                         uk-grid>
                                        <div>
                                            <a class="uk-button uk-button-default uk-button-small"
                                               href="settings.html">
                                                <span class="uk-margin-xsmall-right"
                                                      uk-icon="icon: cog; ratio: .75;"></span><span>Cài đặt</span>
                                            </a>
                                        </div>
                                        <div>
                                            <button class="uk-button uk-button-default uk-button-small"
                                                    href="#"
                                                    title="Đăng xuất">
                                                <span uk-icon="icon: sign-out; ratio: .75;"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <nav>
                                <ul class="uk-nav uk-nav-default tm-nav">
                                    <li class="uk-active">
                                        <a href="account.html">
                                            Đơn hàng
                                            <span>(2)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="favorites.html">
                                            Yêu thích
                                            <span>(3)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="personal.html">Thông tin cá nhân</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-width-expand@m">
                    <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                        <header class="uk-card-header">
                            <h1 class="uk-h2">Đơn Hàng</h1>
                        </header>
                        <section class="uk-card-body">
                            <h3>
                                <a class="uk-link-heading" href="#">
                                    #36637649
                                    <span class="uk-text-muted uk-text-small">từ ngày 08/08/2023</span>
                                </a>
                            </h3>
                            <table class="uk-table uk-table-small uk-table-justify uk-table-responsive uk-table-divider uk-margin-small-top uk-margin-remove-bottom">
                                <tbody>
                                    <tr>
                                        <th class="uk-width-medium">
                                            Số lượng sản phẩm
                                        </th>
                                        <td>7</td>
                                    </tr>
                                    <tr>
                                        <th class="uk-width-medium">
                                            Vận chuyển
                                        </th>
                                        <td>Nhận từ cửa hàng</td>
                                    </tr>
                                    <tr>
                                        <th class="uk-width-medium">
                                            Phương thức chi trả
                                        </th>
                                        <td>Thẻ tín dụng trực tuyến</td>
                                    </tr>
                                    <tr>
                                        <th class="uk-width-medium">
                                            Tổng tiền
                                        </th>
                                        <td><p>3.000.000.000<sup>đ</sup></p></td>
                                    </tr>
                                    <tr>
                                        <th class="uk-width-medium">
                                            Tình trạng
                                        </th>
                                        <td>
                                            <span class="uk-label">ĐANG XỬ LÝ</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                        <section class="uk-card-body">
                            <h3>
                                <a class="uk-link-heading" href="#">
                                    #36637648
                                    <span class="uk-text-muted uk-text-small">từ ngày 20/07/2023</span>
                                </a>
                            </h3>
                            <table class="uk-table uk-table-small uk-table-justify uk-table-responsive uk-table-divider uk-margin-small-top uk-margin-remove-bottom">
                                <tbody>
                                    <tr>
                                        <th class="uk-width-medium">
                                            Số lượng sản phẩm
                                        </th>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th class="uk-width-medium">
                                            Vận chuyển
                                        </th>
                                        <td>Nhận từ cửa hàng</td>
                                    </tr>
                                    <tr>
                                        <th class="uk-width-medium">
                                            Payment
                                        </th>
                                        <td>Online by card</td>
                                    </tr>
                                    <tr>
                                        <th class="uk-width-medium">
                                            Tổng tiền
                                        </th>
                                        <td><p>17.000.000.000<sup>đ</sup></p></td>
                                    </tr>
                                    <tr>
                                        <th class="uk-width-medium">
                                            Tình trạng
                                        </th>
                                        <td>
                                            <span class="uk-label uk-label-danger">Đã hủy</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>


