@model List<SecondHand.Models.Domain.Product>
@{
    Layout = "_Layout";
}

<!-- NAV-FIRST -->
<div class="nav-begin justify-content-between">
    <h2 class="title-main">MEN</h2>
    <a href="#">Shop women</a>
</div>

<!-- SLIDER ADS -->
<div>
    <div class="uk-panel uk-padding uk-padding-remove-horizontal uk-padding-remove-top">
        <img src="https://a.storyblok.com/f/177537/2619x700/6af66def5d/m-sale.png" width="1800" height="1200" alt="">
        <div class="uk-position-center uk-text-center">
            <p uk-slider-parallax="x: 200,-200">Đồ S2HAND chất lượng cao, giá hợp lý.</p>
            <button class="uk-button uk-box-shadow-hover-xlarge uk-button-color"><a asp-controller="Filter" asp-action="Index">Shop Now</a><span uk-icon="arrow-right"></span></button>
        </div>
    </div>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid">
            <li>
                <div class="uk-panel">
                    <img src="https://a.storyblok.com/f/177537/900x600/10a6b3612e/45.png/m/1080x0" width="400" height="600" alt="">
                </div>
            </li>
            <li>
                <div class="uk-panel">
                    <img src="https://a.storyblok.com/f/177537/900x600/62c6deaeca/product-edit-3-2-900x600-2.png/m/1080x0" width="400" height="600" alt="">
                </div>
            </li>
            <li>
                <div class="uk-panel">
                    <img src="https://a.storyblok.com/f/177537/900x600/ea9896a1cc/46.png/m/1080x0" width="400" height="600" alt="">
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>
</div>

<!-- list cart -->

<div class="uk-margin-medium-top">
    <h3>Danh Mục Sản Phẩm</h3>
    <!-- card category -->
    <ul class="uk-child-width-1-3 uk-child-width-1-6@m uk-background-cate uk-padding" uk-grid>
        <li class="uk-margin-bottom">
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link" href="#">
                <img src="https://a.storyblok.com/f/177537/400x400/da18561ac2/32.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Áo Khoác</h5>
            </a>
        </li>
        <li class="uk-margin-bottom">
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link">
                <img src="https://a.storyblok.com/f/177537/400x400/5eaae5f9c7/product-grid-1-1-5.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Áo Thun</h5>
            </a>
        </li>
        <li class="uk-margin-bottom">
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link">
                <img src="https://a.storyblok.com/f/177537/400x400/c60a5dd1af/product-grid-1-1-men-1.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Áo Sơ Mi</h5>
            </a>
        </li>
        <li class="uk-margin-bottom">
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link">
                <img src="https://a.storyblok.com/f/177537/400x400/fbf44f2aef/jumpers.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Áo Sweater</h5>
            </a>
        </li>
        <li class="uk-margin-bottom">
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link">
                <img src="https://a.storyblok.com/f/177537/400x400/63167d19df/activewear-men.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Áo Hoodie</h5>
            </a>
        </li>
        <li class="uk-margin-bottom">
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link">
                <img src="https://a.storyblok.com/f/177537/400x400/e3c61f1ef8/suits-men.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Áo Blazer</h5>
            </a>
        </li>
        <li>
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link">
                <img src="https://a.storyblok.com/f/177537/400x400/3e9eb3fc58/33.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Nón</h5>
            </a>
        </li>
        <li>
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link">
                <img src="https://a.storyblok.com/f/177537/400x400/7588548543/men-s-accessories.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Phụ Kiện</h5>
            </a>
        </li>
        <li>
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link">
                <img src="https://a.storyblok.com/f/177537/400x400/948be81b52/jeans-3.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Quần Jeans</h5>
            </a>
        </li>
        <li>
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link">
                <img src="https://a.storyblok.com/f/177537/400x400/8af296b232/bottoms-3.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Quần Trouser</h5>
            </a>
        </li>
        <li>
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link">
                <img src="https://a.storyblok.com/f/177537/400x400/ce64d5d325/shoes-1.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Giày Thể Thao</h5>
            </a>
        </li>
        <li>
            <a class="uk-card  uk-card-body  uk-padding-remove cate-link">
                <img src="https://a.storyblok.com/f/177537/400x400/9288a8d02e/boots-4.png/m/640x0" alt="">
                <h5 class="uk-text-center uk-margin-top name-category">Giày Tây</h5>
            </a>
        </li>

    </ul>
</div>

<!-- List Product -->

<section class="uk-section uk-section-small uk-padding-remove">
    <div class="uk-container">
        <h2 class="uk-margin-bottom">Gợi ý cho bạn</h2>
        <div class="uk-card uk-card-default tm-ignore-container">
            <div class="uk-grid-collapse uk-child-width-1-3 uk-child-width-1-5@m tm-products-grid"
                 uk-grid>
                @await Component.InvokeAsync("Home")
            </div>
        </div>
        <div class="uk-margin uk-text-center">
            <a class="uk-link-muted uk-text-uppercase tm-link-to-all"
               href="subcategory.html">
                <span>Xem thêm</span><span uk-icon="icon: chevron-right; ratio: .75;"></span>
            </a>
        </div>
    </div>
</section>

<!-- Popular Brands -->

<section class="uk-section uk-section-default uk-section-small">
    <div class="uk-container">
        <h2 class="uk-text-center">Thương Hiệu</h2>
        <div class="uk-margin-medium-top"
             uk-slider="finite: true">
            <div class="uk-position-relative">
                <div class="uk-grid-small uk-flex-middle"
                     uk-grid>
                    <div class="uk-visible@m">
                        <a href="#"
                           uk-slidenav-previous
                           uk-slider-item="previous"></a>
                    </div>
                    <div class="uk-width-expand uk-slider-container">
                        <ul class="uk-slider-items uk-child-width-1-3 uk-child-width-1-6@s uk-grid uk-grid-large">
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="RALPH">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/3bbb8bf75b/ralph-lauren-3.png/m/640x0"
                                                 alt="RALPH" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="NIKE">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/2702c66a7e/nike-1.png/m/640x0"
                                                 alt="Samsung" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="ADIDAS">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/fd851dd099/adidas.png/m/640x0"
                                                 alt="Sony" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="ZARA">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/f0fe88bf4f/zara-2.png/m/640x0"
                                                 alt="Microsoft" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="COS">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/f4ae8600d3/cos-1.png/m/640x0"
                                                 alt="Intel" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="ALLSAINTS">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/f9cea543a6/allsaints-3.png/m/640x0"
                                                 alt="HP" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="UNIQLO">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/18c684de12/uniqlo.png/m/640x0"
                                                 alt="LG" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="BOSS">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/47299a557f/hugo-boss-3.png/m/640x0"
                                                 alt="Lenovo" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="LEVIS">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/2d68741968/levi-s.png/m/640x0"
                                                 alt="ASUS" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="TOMMY">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/34e6886e88/tommy-hilfiger-3.png/m/640x0"
                                                 alt="Acer" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="TED">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/6f7ed7090a/ted-baker-2.png/m/640x0"
                                                 alt="Dell" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="tm-ratio tm-ratio-16-9">
                                    <a class="uk-link-muted tm-media-box tm-grayscale"
                                       href="#"
                                       title="PAUL">
                                        <figure class="tm-media-box-wrap">
                                            <img src="https://a.storyblok.com/f/177537/400x400/0061a851a8/paul-smith-2.png/m/640x0"
                                                 alt="Canon" />
                                        </figure>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-visible@m">
                        <a href="#"
                           uk-slider-item="next"
                           uk-slidenav-next></a>
                    </div>
                </div>
            </div>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top uk-hidden@m"></ul>
        </div>

    </div>
</section>
