@page "/admin/s2Handstore/nguoi-dung/them-role/"
@model MVC_Core.Areas.Admin.Pages.User.AddRoleModel
@{
    ViewData["Title"] = "Gán role";
}
<section class="content" style="padding-top: 10px;">
    <div class="card card-primary">
        <div class="card-header" style="background-color: #28a745;">
            <h3 class="card-title" style="color:white;">Thiết lập role cho người dùng</h3>
        </div>

        <form method="post" enctype="multipart/form-data">
            <div class="card-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="form-group">
                    <label asp-for="RoleNames">Thêm các role (vai trò) cho người dùng: @Model.user.UserName</label>
                    @Html.ListBoxFor(m => m.RoleNames, @Model.allRoles, new {
                    id = "id-select-roles",
                    @class = "w-100"
                })
                <span asp-validation-for="RoleNames" class="text-danger"></span>
                </div>
            </div>

            <div class="card-footer row">
                <button type="submit" style="width: 150px" class="btn btn-success">Cập nhật</button>
                <a asp-page="Index" type="submit" style="width: 150px; margin-left: 10px" class="btn btn-secondary">Trở về</a>
            </div>
        </form>
    </div>

</section>

@section Scripts {

        <script src="~/lib/multiple-select/multiple-select.min.js"></script>
        <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />

        <script>
            $("#id-select-roles").multipleSelect({
                selectAll: false,
                keepOpen: false,
                isOpen: false,
            });
        </script>

        <partial name="_ValidationScriptsPartial" />
}